<div>PODACI:</div>
<hr>
<br>
<div>Administrator</div>
<br>
<div>Korime: administrator</div>
<br>
<div>Lozinka: rwa</div>
<br>
<hr>
<div>Obican</div>
<br>
<div>Korime: obican</div>
<br>
<div>Lozinka: rwa</div>
<hr>
<br>
<br>
<form >
    <label for="korime">Korisničko ime: </label>
    <input name="korime" type="text" id="korime" class="form">
    <br>
    <br>
    <label for="lozinka">Lozinka: </label>
    <input name="lozinka" type="text" id="lozinka" class="form">
    <br>
    <br>
    <input type="submit" value="Šalji" id="salji" class="button" (click)="POKRENI()">
</form>